<section>
  <div class="adm-head">
    <h1>⚙️ 用户管理</h1>
    <p>删除为软删除：该用户将从排行榜、赔率和结算中消失，且无法登录；随时可恢复。</p>
  </div>
  <%= render "admin/shared/tabs" %>
  <hr class="rule ink">

  <div class="user-admin">
    <ul>
      <%= render partial: "admin/users/user", collection: @users, as: :user %>
      <% if @next_page %>
        <li class="scroll-sentinel" data-controller="infinite-scroll"
            data-infinite-scroll-url-value="<%= admin_users_path(page: @next_page) %>"></li>
      <% end %>
    </ul>
  </div>
</section>
