<section class="id-page">
  <h1 class="disp">登录<br><em>参与竞猜</em> 🥤</h1>
  <p class="lead">用 X（Twitter）账号登录，自动带入头像和昵称，登录后可改昵称。</p>
  <div style="padding-top: 32px">
    <%= button_to "𝕏 用 Twitter 登录", "/users/auth/twitter2", class: "cta" %>
  </div>
</section>
